@charset "UTF-8";
/* CSS Document */

h1{
	font-family: atten-new,sans-serif;
font-weight: 1000;
font-style: normal;
	margin-bottom: -20px;

}


#list{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	
}

.projects{
	list-style-type: circle;
	font-family: atten-new,sans-serif;
font-weight: 300;
font-style: normal;
	font-size: 25px;
}

.link2{
	font-family: atten-new,sans-serif;
font-weight: 300;
font-style: normal;
}