@charset "UTF-8";
/* CSS Document */

#container{
	background: #333333;
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	
}

#topimage{
	width: 90%;
	max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
	padding: 25px;
	display: block;
	animation: fadeInAnimation ease 3s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards; 
}

h1, h3, p{
	color: white;
	font-family: atten-new,sans-serif;
font-weight: 300;
font-style: normal;
}

h1, h3{
	margin-left: auto;
	margin-right: auto;
}

#para{
width: 90%;
	max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
	padding: 10px;
	animation: fadeInAnimation ease 3s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards; 
}

#key{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	max-width: 300px;
	display: block;
	animation: fadeInAnimation ease 3s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 