@charset "UTF-8";
/* CSS Document */
.banner {
  width: 100%;
  object-fit: cover;
  height: 300px;
  position: relative;
	filter: blur(10px);
	border: 5px solid transparent;
}
#topimage {
  position: absolute;
  width: 700px;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  left: 0;
  right: 0;
  z-index: 0;
}
p {
  font-family: atten-new, sans-serif;
  font-weight: 300;
  font-style: normal;
}