@charset "UTF-8";
/* CSS Document */
.banner {
  width: 100%;
  object-fit: cover;
  height: 300px;
  position: relative;
}
#topimage {
  position: absolute;
  width: 300px;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  left: 0;
  right: 0;
  z-index: 0;
}
#article {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: atten-new, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#image1{
	width: 350px;
	max-width: 350px;
	margin-left: auto;
  margin-right: auto;
	display: block;
}

.code{
	height:50px;
	background-color: #C4C4C4;
	border-radius: 10px;
	padding: 40px;
	font-style: italic;
}

ul{
	  font-family: atten-new, sans-serif;
  font-weight: 300;
  font-style: normal;
}