@charset "UTF-8";
/* CSS Document */


#welcomebox{
	margin-top: -100px;
	top: 0;
	width: 700px;
	position: relative;
	
}


h1{
	color: black;
	font-family: atten-new,sans-serif;
font-weight: 700;
font-style: normal;
}

p{
	color: black;
	font-family: atten-new,sans-serif;
font-weight: 300;
font-style: normal;
}

#profile{
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	height: 500px;
	top: 0;
}

body{
	animation: fadeInAnimation ease 3s; 
            animation-iteration-count: 1; 
            animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
 