@charset "UTF-8";
/* CSS Document */

#musicplayer{
	height: 600px;
	width: 1000px;
	border-radius: 50px;
	background-color: antiquewhite;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	box-shadow: 20px 20px 50px grey;
}