.div-one {
  background:red;
  width: 100vw;
  height: 100vh;
   background: url('../images/Taupe-sofa.jpeg');
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
	position: absolute;
}

.div-two {
  -webkit-clip-path: polygon(100vw 0, 0% 100%, 80vw 100vh);
  clip-path: polygon(100vw 0, 0% 100vh, 100vw 100vh);
  background: url('../images/featured-image-kitchen-layouts.jpeg');
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
}

#container2{
	height: 250px;
	background-color: rgba(255, 255, 255, .95);
}

#profileImg{
	width: 200px;
	height: 200px;
	flex-shrink: 0;
	border-radius: 150px;
	border: 3px solid black;
	margin-top: 20px;
}

#innerProfile{
	display: flex;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-content: center;
	
}

#profileDesc{
	width: 400px;
		 font-family: 'Raleway', sans-serif;
	margin-top: 15px;
	margin-left: 25px;
}

#profileDesc p{
	width: 420px;
}

#profileDesc h3{
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 0px;
	font-weight: 800;
}

#profileDesc h4{
margin-top: 0px;
	text-transform: uppercase;
	font-size: 20px;
		font-weight: 500;
}