html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}
nav {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 20;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
}
#hiddenMenu {
  height: 40px;
  width: 100%;
  background-color: #fff;
}
#mainContainer {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
}
#logo {
  height: 50px;
  display: block;
  transform: translateY(-2px);
}
#smalllogo {
  height: 65px;
  position: relative;
  display: block;
  top: -3px;
}
#menuDiv {
  position: absolute;
  right: 25px;
  top: -10px;
}
#menuDiv a {
  text-decoration: none;
  color: black;
}
.menuItem:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C49047;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.menuItem:hover:before {
  visibility: visible;
  width: 100%;
}
#menu {
  display: flex;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.menuItem {
  margin-left: 20px;
  padding: 10px;
  transition: 0.3s;
  position: relative;
}
#contactBtn {
  background-image: linear-gradient(45deg, rgba(138, 101, 49, 1) 0%, rgba(255, 187, 92, 1) 100%);
  color: #fff;
  font-weight: 500;
  margin-left: 20px;
  padding: 10px;
  letter-spacing: 1px;
  background-size: 200% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}
.btn:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
#slideButton {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-style: none;
  padding: 10px;
  color: white;
  background-image: linear-gradient(45deg, rgba(138, 101, 49, 1) 0%, rgba(255, 187, 92, 1) 100%);
  width: 175px;
  height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-size: 200% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
}
#slideButton:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
#slideButton a {
  transform: translateY(-15px);
}
#footer {
  height: auto;
  width: 100%;
  background-color: #34618F;
}
#footerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#connect img {
  filter: invert(1);
  width: 40px;
  height: 40px;
}
#bottomLogo {
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.footerCol {
  width: 200px;
  color: white;
  margin-left: 20px;
}
#footer p {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 5px;
}
h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: white;
}
ul {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 0;
}
#logo2 {
  height: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.footerCol a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 500px) {
  #logo {
    display: none
  }
  nav {
    height: 40px;
  }
  #menuDiv {
    top: -10px;
  }
  #hiddenMenu {
    height: 55px;
  }
}
@media only screen and (max-width: 875px) and (min-width: 500px) {
  #logo {
    transform: translateX(-10px);
  }
}
@media only screen and (max-width: 350px) {
  #smalllogo {
    display: none
  }
}
@media only screen and (min-width: 500px) {
  #smalllogo {
    display: none
  }
}
@media only screen and (max-width: 875px) {
  .menuItem {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
#messageContainer {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-image: linear-gradient(45deg, rgba(138, 101, 49, 1) 0%, rgba(255, 187, 92, 1) 100%);
  border-radius: 50px;
  display: flex;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
  background-size: 200% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
	z-index: 20;
}
#messageContainer:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
#messageIcon {
  width: 35px;
  height: 35px;
  margin: auto;
  display: block;
  transform: translateX(-1px);
}
@media only screen and (min-width: 875px) {
  #MenuButton {
    display: none;
  }
}
#MenuButton {
  position: absolute;
  left: 20px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
}
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #C49047;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#overlayLogo {
  position: absolute;
  bottom: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 50%;
}