body {
  margin: 0;
  background-color: #000000;
}
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 20;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
}
#logo {
  height: 80px;
  position: relative;
  display: block;
  left: 20px;
}
#menuDiv {
  position: absolute;
  right: 50px;
  top: 20%;
}
#menu {
  display: flex;
  list-style: none;
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
  font-weight: 800;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
	margin-bottom: 10px;
}
span{
	font-style: italic; 
}

button {
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
  font-weight: 800;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  background-color: #fff;
  transition: 0.3s;
  width: 300px;
}
button:hover {
  color: #fff;
  background: #000;
}
#welcomeBanner p {
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
}
#welcomeBanner {
  position: absolute;
  z-index: 10;
  width: 750px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 375px;
  border-radius: 15px;
  background-color: rgba(52, 97, 143, 0.6);
  color: white;
  padding: 15px;
}
.menuItem {
  margin-left: 20px;
  padding: 10px;
  transition: 0.3s;
}
.menuItem:hover {
  background-color: #34618F;
  color: aliceblue;
  border-radius: 5px;
}
.slider {
  max-width: 100%;
  height: 1000px;
  position: relative;
}
.slide1, .slide2, .slide3, .slide4, .slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background-image: url("images/6.jpg");
  background-position: center;
  background-size: cover;
  animation: fade 18s infinite;
  -webkit-animation: fade 18s infinite;
}
.slide2 {
  background-image: url("images/4.jpg");
  background-position: center;
  background-size: cover;
  animation: fade2 18s infinite;
  -webkit-animation: fade2 18s infinite;
}
.slide3 {
  background-image: url("images/3.jpg");
  background-position: center;
  background-size: cover;
  animation: fade3 18s infinite;
  -webkit-animation: fade3 18s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
#servicesContainer {
  background-color: #E6E6E6;
  padding: 25px;
}
#testimonyArea {
  height: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#testimonyQuote {
  border-width: 2px;
  border-style: solid;
  border-color: #336090;
  width: 80%;
  padding: 20px;
  max-width: 900px;
  height: 80%;
  position: relative;
}
#testimonyQuote p {
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}
#quote {
  width: 50px;
  position: absolute;
  left: 25px;
  top: 25px;
}
#quote2 {
  width: 50px;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
#footer {
  height: 480px;
  background-color: #34618F;
}
#footerContainer {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#connect img {
  filter: invert(1);
  width: 40px;
  height: 40px;
}
#bottomLogo {
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.footerCol {
  width: 200px;
  color: white;
}
#footer p {
  font-size: 18px;
}
h4 {
  font-family: 'Shippori Mincho', serif;
  font-weight: 800;
}
h2 {
  font-family: 'Shippori Mincho', serif;
  font-weight: 800;
  color: white;
}
ul {
  list-style-type: none;
  font-family: 'Shippori Mincho', serif;
  font-weight: 400;
  padding: 0;
}
#logo2 {
  height: 60px;
  position: relative;
  filter: invert();
  left: 50%;
  transform: translateX(-50%);
}